.projectForm{
    background-color: rgb(78, 78, 78);
    padding: 25px;
    border: 3px ridge rgb(255, 255, 255);
    border-radius: 12px;  
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:white;
}

.formPrimary{
    padding: 40px;
}

.header1{
    background-color: rgb(78, 78, 78);
    padding: 25px;
    border: 3px ridge rgb(255, 255, 255);
    border-radius: 12px;  
    font-family: 'Courier New', Courier, monospace;
    color:white;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    text-align: center;
}